body {
  margin: 0px;
  background-color: #fff;
}

header {
  width: 100%;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;

  background:
  linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      ),

  url(http://i.imgur.com/GRAgCwp.gif);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;

  align-items: flex-start;
}

h1, h2, h3 {
  font-family: 'Hind', sans-serif;
  color: #333;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 0px;
}

h4, h5, h6 {
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
}

h5 {
  font-size: 0.6em;
  margin: 0px 0px 0px 0px;
}

body p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
}

nav .brand {
  max-width: 30%;
}
nav p > a {
  font-family: 'Hind', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  width: 60%;
  height: inherit;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

nav li {
  width: auto;
  overflow: auto;
  align-self: center;
  padding: 0px 10px 0px 10px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'Hind', sans-serif;
  font-size: 0.75em;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

a:hover {
  text-decoration: underline;
}

section {
  width: 100%;
  min-height: 100%;
  padding: 40px 20px 0px 20px;
  box-sizing: border-box;
}

section#hero-banner{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

section#about{

}

section#projects{

}

#projects-content {
  margin-top: 20px;
}

#projects-content img{
  max-width: 40%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.placeholder {
  width: 40%;
  min-height: 40%;
  background: linear-gradient(to bottom right, #fc00ff, #00dbde);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder i {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0px 0px 20px
}

.project:first-of-type{
  margin: 50px 0px 50px 0px;
}

.project-desc {
  max-width: 40%;
}

.project-desc h4#hoos-hungry {
  color: #2196F3;
}

.project-desc h4#moodboard {
  color: #fc00ff;
}

.project-desc.right{
  margin: 20px 0px 0px 20px;
}

.project-desc.left {
  margin: 20px 20px 0px 0px;
}

.project-desc a {
  font-size: inherit;
  text-decoration: none;
  color: #5ddfcb;
  text-shadow: none;
  letter-spacing: normal;
  font-weight: 600;
}

.project-desc a:hover {
  text-decoration: underline;
}

section#hobbies{

}

section#connect{
  padding-bottom: 100px;
}

.hero-content {
  margin: 0px 20% 0px 20%;
  width: 40%;
  color: #333;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 20px;
}

.back-to-top button {
  width: 100px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border-width: 2px;
  border-color: #333;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.connect-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-header {
  display: flex;
  align-items: baseline;
}

.section-header h5 {
  font-size: 0.8em;
  margin: 0px 0px 0px 20px;
  letter-spacing: 1px;
  font-weight: 300;
}

.connect-site {
  margin: 20px 0px 20px 0px;
  width: 40%;
  box-sizing: border-box;
}

.connect-icon {
  display:inline-flex;
  align-items: center;
}

.connect-icon i {
  font-size: 2.0em;
  color: #0077B5;
}

.connect-icon h6 {
  margin: 0px 10px 0px 10px;
}

.connect-icon h6 > a {
  color: #0077B5;
  text-decoration: none;
  font-size: inherit;
  text-shadow: none;
  letter-spacing: normal;
}

.connect-icon h6 > a:hover {
  text-decoration: underline;
}
.connect-desc {

}

footer {
  margin-top: -100px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}

footer p {
  padding: 0px 150px 0px 20px;
  font-size: 0.6em;
  font-family: 'Open Sans', sans-serif;
}

i .fa-linkedin{
  color: #0077B5;
}

hr {
  border: none;
  border-top: 1px solid #e3e3e3;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
}
